<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>genericUser: View</title>
</head>
<body>
	<h1 layout:fragment="header">A generic user info</h1>
	<div layout:fragment="content" class="container">
		<dl>
			<dt>User.id</dt>
			<dd id="id" th:text="${genericUser.user.id}">123</dd>

			<dt>User.name</dt>
			<dd id="name" th:text="${genericUser.user.name}">a-name</dd>

			<dt>Address.City</dt>
			<dd id="address_city" th:text="${genericUser.address.city}">a-name</dd>

			<dt>Address.street</dt>
			<dd id="address_street" th:text="${genericUser.address.street}">a-name</dd>


		</dl>
	</div>
</body>
</html>
